<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="imagenes/Icono/the-forest.icon.png" />
    <title>Armas-The forest Wiki</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel=stylesheet href="Armas.css" />




</head>

<body id=fondo>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <a class="navbar-brand" href="menuprincipal_wiki.html" id="fuente">The Forest Wiki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="menuprincipal_wiki.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="forowiki.html">Foro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.google.com/maps/place/R%C3%ADo+Imperial+460,+Valle+Grande,+Lampa,+Regi%C3%B3n+Metropolitana/@-33.3295809,-70.751195,17z/data=!3m1!4b1!4m5!3m4!1s0x9662bf62531dc747:0xc0b4aee73c3b9373!8m2!3d-33.3295854!4d-70.7490063?hl=es-CL">Dirección</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="registrase_wiki.html">Registrarse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="inicio_sesion_wiki.html">Iniciar sesion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="micuentatf.html">Mi Cuenta</a>
              </li>
          </ul>
          <form class="d-flex" id="separar-derecha">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      
    </nav>

    <section class="colorl">
        <div class="letra">
            <div class="container">
                <div class="center-titulo">
                    <h1 id=titulo>Armas</h1>
                </div>
                <div class="w-33">
                    <div class="center">
                      <button class="btn btn-dark">
                        Editar
                      </button>
                    </div>
                  </div>
                
                <div class="center">
                    <p id="caja_bienvenida">Dentro del juego existen muchas armas tanto a distancia como cuerpo a cuerpo, algunas de ellas siendo <br> herramientas que puedes ocupar para matar, construir, escalar, obtener comida, etc.
                    </p>
                </div>
                
            </div>
        </div>
            <div class="container text-fluid">
                <div class="d-block d-sm-block d-md-none">
                    
                    <h5 class="center margin-tabla">Orden de datos:</h5>
                    
                    <p class="center">1er bloque = Numero<br>2do bloque = Imagen arma<br>3er bloque = Nombre arma<br>4to bloque = Tipo arma<br>5to bloque = Descripcion arma</p>
                    
                    
                </div>
                <div class="margin-tabla">
                    <div class="row">
                            <div class="d-none d-sm-none d-md-block col-sm-2 border border-secondary fondo-tabla center">
                                <h5>Numero</h5>
                            </div>
                            <div class="d-none d-sm-none d-md-block col-sm-2 border border-secondary fondo-tabla center">
                                <h5>Imagen arma</h5>
                            </div>
                            <div class="d-none d-sm-none d-md-block col-sm-2 border border-secondary fondo-tabla center">
                                <h5>Nombre arma</h5>
                            </div>
                            <div class="d-none d-sm-none d-md-block col-sm-2 border border-secondary fondo-tabla center">
                                <h5>tipo arma</h5>
                            </div>
                            <div class="d-none d-sm-none d-md-block col-sm-4 border border-secondary fondo-tabla center">
                                <h5>Descripcion arma</h5>
                            </div>
                        
                    </div>
                    <div class="letra">
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>1</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/PlaneAxe.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Hacha de avion</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>El hacha de avion es el primer arma que te encuentras en el juego ya que la encontraras al salir del avion, el personaje tomara el arma si o si. El hacha de avion sirve para varias actividades como talar arboles, zcazar hasta incluso matar.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>2</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/CraftedAxe.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Hacha artesanal</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>El hacha artesanal es la más lenta de todas las hachas, así como una de las armas más lentas del juego en términos de velocidad aunque hace mas daño que el hacha de avion. Sin embargo, como los elementos requeridos son muy comunes, puede ser útil fabricar esta arma muy pronto en el juego.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>3</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center separar-arriba">
                                <p><img src="imagenes/Armas/RustyAxe.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Hacha oxidada</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>Esta hacha es más lenta y causa menos daño que el hacha moderna , pero tiene un mayor poder de derribo y el nivel de bloqueo más alto para un arma, similar al garrote y el caparazón de tortuga .</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>4</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/ModernAxe.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Hacha moderna</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>La hacha moderna es la mejor hacha disponible para cortar árboles en el juego. Cuando se usa como arma, inflige cinco barras de daño . El hacha moderna se balancea más lento que el hacha de avion , pero derriba a los caníbales con más frecuencia que sus contrapartes más débiles.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>5</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center separar-arriba">
                                <p><img src="imagenes/Armas/ClimbingAxe.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Pico de escalada</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>Se puede utilizar para escalar varios acantilados rocosos de la península y paredes específicas de las cuevas . Como arma, el hacha trepadora causa menos daño que el hacha de avion , pero se balancea rápido como la Katana .</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>6</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/Machete.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Machete</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>El machete puede cortar palos de árboles, arbustos, arbustos de un solo golpe. Esto permite una recolección rápida de palos. Como arma el machete tiene un alcance muy corto y un daño intermedio. Casi todas las demás armas cuerpo a cuerpo del juego tienen un alcance mayor que el machete .</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>7</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/Katana.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Katana</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>La Katana es un arma cuerpo a cuerpo de balanceo muy rápido. Su velocidad le permite al jugador golpear continuamente a un objetivo, evitando que el enemigo tome represalias. Sin embargo, la katana tiene un daño limitado en comparación con otras armas.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>8</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/WeakSpear.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Lanza debil</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee<br>Distancia</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>La lanza debil es muy util para cazar ya que tiene un golpe terrestre que le permite cazar con mas facilidad a lagarlos, peces, etc. Como arma, esta se puede lanzar pero su velocidad no es la mejor y su daño es intermedio, aunque esta es muy facil de crear ya que se necesitan solo 2 palos.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>9</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/UpgradedSpear.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Lanza mejorada</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee<br>Distancia</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>La lanza mejorada es un arma de combate formidable, así como una herramienta de caza y recolección muy útil. Como es una de las pocas armas ofensivas que se pueden usar mientras se corre , es un arma muy efectiva para hacer kite (golpear y correr), tambien esta arma se puede lanzar logrando un gran daño.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>10</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/Chainsaw.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Motosierra</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>La motosierra es una herramienta y arma única que no requiere resistencia para usar y solo requiere mantener presionado el botón de ataque para operar. Es propulsado por combustible , que se puede encontrar en varios puntos de la Península . Es na herramienta muy util para cortar arboles y un arma formidable por su daño y su velocidad de ataque. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>11</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/CraftedBow.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Arco artesanal</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Distancia</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>El arco artesanal dispara flechas , no tiene una cruz ni una función de zoom. Al mantener presionado el botón de ataque, el jugador estirará el arco y apuntará la flecha hacia adelante (sin una cruz). Al soltar el botón de ataque, se disparará la flecha hacia adelante. Aunque el disparar un arco apuntando requiera de mucha practica, el daño de las flechas va dependiendo de que tipo se use.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>12</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/TurtleShell.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Caparazon de tortuga</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>También se puede sostener y usar como un arma de golpe improvisada. Solo inflige poco daño a los enemigos y consume mucha energía , pero es extremadamente eficiente para bloquear, logrando bloquear el daño de todos los canibales(excepto el de Cowman).</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>13</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/Club.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Mazo</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Melee</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>Los mazos se pueden saquear de la mayoría de los mutantes normales masculinos, es un arma lenta, pero causa un daño significativo a los enemigos. Junto con el caparazón de tortuga y el Hacha Oxidada , el Club tiene el nivel de bloqueo más alto posible para un arma.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>14</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/Dynamite.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Dinamita</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Distancia</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>Un palo arrojable/colocable de dinamita . Puede usarse para hacer estallar muchas cosas similares a la bomba, Se puede utilizar como arma y es eficaz contra cualquier tipo de enemigos . Puede volar fácilmente caníbales, mutantes, árboles, etc.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>15</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p><img src="imagenes/Armas/Molotov.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Molotov</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p>Distancia</p>
                            </div>
                            <div class="col-sm-4 border border-secondary fondo-tabla center">
                                <p>el Molotov puede encenderse usando el encendedor y lanzarse en la dirección deseada. Si se lanza sobre un objeto sólido, explotará y creará una pequeña área de fuego durante un breve período de tiempo. Si se lanza sobre cualquier enemigo o animal, causará daño por quemaduras al objetivo.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            
            
            <footer id="piedepag">
                <p>Chile, Santiago de Chile | Fono: 227369936 | Email: tfwiki@gmail.com</p>
                <p>Copyright 2022 Wiki <span style="color: #ffc400;">THE FOREST WIKI</span></p>
            </footer>



            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>