<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagenes/Icono/the-forest.icon.png" />
    <title>Foro wiki-The forest Wiki</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://file.myfontastic.com/tc26fJHv8scB3d4vHQRRsV/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="css/foro.css">


</head>
<body id="fondo1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <a class="navbar-brand" href="menuprincipal_wiki.html" id="fuente">The Forest Wiki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="menuprincipal_wiki.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="forowiki.html">Foro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.google.com/maps/place/R%C3%ADo+Imperial+460,+Valle+Grande,+Lampa,+Regi%C3%B3n+Metropolitana/@-33.3295809,-70.751195,17z/data=!3m1!4b1!4m5!3m4!1s0x9662bf62531dc747:0xc0b4aee73c3b9373!8m2!3d-33.3295854!4d-70.7490063?hl=es-CL">Dirección</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="registrase_wiki.html">Registrarse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="inicio_sesion_wiki.html">Iniciar sesion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="micuentatf.html">Mi Cuenta</a>
                </li>
          </ul>
          <form class="d-flex" id="separarsearch" >
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      
    </nav>

<div class="container">
    <H5>Comenta respecto al juego!</H5>
    <div class="row comentarios justify-content-center">
        <div class="col-6">
            <form action="" class="form_comentarios d-flex justify-content-end flex-wrap">
                <textarea name="" id="" placeholder="Comentario"></textarea>
                <button class="btn" type="button"> comentar</button>
            </form>


            <div class="media">
                <img src="img_wiki/user.png"  alt="">
                <div class="media-body">
                    <p class="nombre">Vicente Echevarria <span>8:00 pm, Hoy</span></p>
                    <p class="comentario">
                            El juego esta buenardo, lo malo es que las mecanicas de los enemigo estan medias desbalanceadas segun mi opinion, ya que con cualquier alrma puedes matar a todos los enemigos muy facilmente..           
                    </p>
                    <div class="botones text-right">
                        <a href="#"> Responder</a>
                        <a href="#"> Editar</a>
                        <a href="#"> Borrar</a>
                    </div>

                </div>

            </div>

            <div class="media">
                <img src="img_wiki/userforest.png" alt="">
                <div class="media-body">
                    <p class="nombre">Kevin Oyaneder <span>8:00 pm, Hoy</span></p>
                    <p class="comentario">
                        Yeah
                        Perdonen, Kamehameha
                        Después del tema del Tetris viene el Dragon Ball Rap
                        Quien no haya seguido esta serie es porque no tiene infancia
                        Big Bang Attack ataca desde el Planeta Namek
                        Vegeta, Son Goku, rivalidades Saiyan
                        (Allargat bastó) y es que en castellano raya
                    </p>
                    <div class="botones text-right">
                        <a href="#"> Responder</a>
                        <a href="#"> Editar</a>
                        <a href="#"> Borrar</a>
                    </div>

                </div>

            </div>

            <div class="media">
                <img src="img_wiki/user.png"  alt="">
                <div class="media-body">
                    <p class="nombre">Alexis Jara <span>8:00 pm, Hoy</span></p>
                    <p class="comentario">
                        Odio es juego, alguien podria decirme que es lo que le ven por favor?????
                    </p>
                    <div class="botones text-right">
                        <a href="#"> Responder</a>
                        <a href="#"> Editar</a>
                        <a href="#"> Borrar</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

 


   <!-- Footer -->
   <footer id="piedepag">
    <p>Chile, Santiago de Chile | Fono: 227369936 | Email: tfwiki@gmail.com</p>
    <p>Copyright 2022 Wiki <span style="color: #ffc400;">THE FOREST WIKI</span></p>
</footer>

    
    
    


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>