<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="imagenes/Icono/the-forest.icon.png" />
    <title>Logros-The forest Wiki</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel=stylesheet href="Logros.css" />


</head>

<body id=fondo>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <a class="navbar-brand" href="menuprincipal_wiki.html" id="fuente">The Forest Wiki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="menuprincipal_wiki.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="forowiki.html">Foro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.google.com/maps/place/R%C3%ADo+Imperial+460,+Valle+Grande,+Lampa,+Regi%C3%B3n+Metropolitana/@-33.3295809,-70.751195,17z/data=!3m1!4b1!4m5!3m4!1s0x9662bf62531dc747:0xc0b4aee73c3b9373!8m2!3d-33.3295854!4d-70.7490063?hl=es-CL">Dirección</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="registrase_wiki.html">Registrarse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="inicio_sesion_wiki.html">Iniciar sesion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="micuentatf.html">Mi Cuenta</a>
                </li>
          </ul>
          <form class="d-flex" id="separar-derecha">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
    </nav>
    <div class="container">
        <div class="center-texto">
            <h1 id=titulo>Logros</h1>
        </div>
    </div>
        <section class="colorl">
            <div class="letra">
                <div class="w-33">
                    <div class="center">
                    <button class="btn btn-dark">
                        Editar
                    </button>
                    </div>
                </div>
                <div class="container">
                    <div class="center">
                        <p id="caja_bienvenida">Los logros son aquellos "trofeos" que vas recolectando a medida que avanzas en el juego, actualmente solo
                            existen 45 logros en total, los<br>cuales 5 estan ocultos, a continuacion te mostraremos estos mismo y su descripcion.
                        </p>
                    </div>
                    
                </div>
            </div>
            
            <div class="container text-fluid">
                <div class="d-block d-sm-block d-md-none">
                    
                    <h5 class="center margin-tabla">Orden de datos:</h5>
                    
                    <p class="center">1er bloque = Numero logro<br>2do bloque = Imagen logro<br>3er bloque = Nombre logro<br>4to bloque = Descripcion logro</p>
                    
                    
                </div>
                <div class="margin-tabla">
                    <div class="row">
                            <div class="d-none d-sm-none d-md-block col-sm-2 border border-secondary fondo-tabla center">
                                <h5>Numero</h5>
                            </div>
                            <div class="d-none d-sm-none d-md-block col-sm-2 border border-secondary fondo-tabla center">
                                <h5>Imagen logro</h5>
                            </div>
                            <div class="d-none d-sm-none d-md-block col-sm-3 border border-secondary fondo-tabla center">
                                <h5>Nombre logro</h5>
                            </div>
                            <div class="d-none d-sm-none d-md-block col-sm-5 border border-secondary fondo-tabla center">
                                <h5>Descripcion logro</h5>
                            </div>
                    </div>
                    <div class="letra">
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">1</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Be_Nice.webp" alt="" class="imagen img-fluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Se bueno</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Comparte un articulo de comida o bebida en MP.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">2</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Be_Extremely_Nice.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Ser extremadamente agradable</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Comparte un arma en MP.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">3</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/First_Responder.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Primer respondedor</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Revive a un jugador cooperativo.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">4</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Medic.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Medico</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Revive a diez jugadores en modo cooperativo.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">5</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Camp_Out.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Acampar</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Dormir con otro jugador(dormir en grupo).</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">6</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Minor_Cannibalism.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Canibalismo menor</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Comer un enemigo.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">7</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Major_Cannibalism.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Canibalismo mayor</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Comer una familia entera.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">8</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Trophy_Hunter.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Cazador de trofeos</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-texto">Mata a todos los tipos de animales y cabezas de exhibición.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">9</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Splatter.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Salpicar</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Enemigo derribado asesinado con roca.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">10</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Choppy_Chop.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Chuleta picada</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Picar 50 cuerpos.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">11</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Commercial_Fisherman.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Pescador comercial</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Mata a 6 o más peces con un cartucho de dinamita.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">12</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Serial_Killer.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Asesino en serie</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Mata a 100 caníbales.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">13</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/bite_me.jpg" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">¡Muérdeme!</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Mata a un tiburon.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">14</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Monster.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Monstruo</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Mata a un conejo.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">15</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Birdseye.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Ojo de pájaro</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Mata a un pájaro con una flecha.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">16</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Fisherman.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Pescador</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Atrapa peces con una trampa.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">17</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Green_Thumb.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Pulgar verde</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Cultiva todo tipo de plantas</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">18</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Naturopath.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Naturopata</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Crea 10 artículos medicinales.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">19</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Gabe_Fan.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Fan de Gabe</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Recoge todas las cintas de casete.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">20</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Unseen.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Invisible</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Crea y usa una armadura sigilosa.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">21</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Longest_Wall.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Muro mas larga</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Construye una pared súper larga.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">22</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Demolition_Man_.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Hombre de demolicion</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Detonar 20 bombas.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">23</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Demolition_Expert.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Experto en demoliciones</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Derriba 6 o más árboles con 1 explosivo</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">24</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Boy_Scout.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Boy scout</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Usa la brújula.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">25</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Handyman.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Personal de mantenimiento</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Reparar un refugio.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">26</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Climate_Change.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Cambio climático</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Cortar 100 árboles.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">27</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/dont_save_the_forest.jpg" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">No salvemos el bosque</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Corta 1000 árboles.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">28</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Crafty.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Astuto</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Fabrica 26 artículos específicos.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">29</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Good_Father.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Buen padre</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Recoge todas las piezas del robot.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo">30</p>
                            </div>
                            <div class="col-sm-2 border border-secondary fondo-tabla center">
                                <p class="center-titulo"><img src="imagenes/Logros/Vegan.webp" alt="" class="imagen imgfluid"></p>
                            </div>
                            <div class="col-sm-3 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Vegano</p>
                            </div>
                            <div class="col-sm-5 border border-secondary fondo-tabla center">
                                <p class="center-titulo">Juega todo el juego sin matar o comer animales.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>           
            
            <footer id="piedepag">
                <p>Chile, Santiago de Chile | Fono: 227369936 | Email: tfwiki@gmail.com</p>
                <p>Copyright 2022 Wiki <span style="color: #ffc400;">THE FOREST WIKI</span></p>
            </footer>
            
                



            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>