{% extends 'core/base.html' %}

{% load static %}

{% block title %} {{title}} - The Forest Wiki {% endblock %}

{% block content %}
  <div class="wiki">
    <div class="contenedor">
      <h3 class="titulo" >The Forest Wiki</h3>
      <p class="descripcion">
        Pagina Oficial de the Forest creada por Programadores de Duoc Uc fans del juego, ¡Descubre y comparte tus
        conocimientos!
      </p>
      <a href="https://www.eneba.com/latam/steam-the-forest-steam-key-global">
        <button class="btn btn-dark">Compra the Forest</button>
      </a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="itemtf-recomendadas contenedor">
      <div class="contenedor-titulo-controles">
        <h3 id="fuente">Contenido The Forest</h3>
        <div class="indicadores"></div>
      </div>
      <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda">
          <i class="fas fa-angle-left"></i>
        </button>
        <div class="contenedor-carousel">
          <div class="carousel">
              <div class="pelicula">
                  <a href="{% url 'section' 'animals' %}"><img src="{% static 'core/img/img_wiki/animal2.png' %}" alt="Animales"></a>
                  <center><p style="color: white;">Animales</p></center>
              </div>
              <div class="pelicula">
                  <a href="{% url 'section' 'map' %}"><img src="{% static 'core/img/img_wiki/mapaforest1.png' %}" alt="Mapa"></a>
                  <center><p style="color: white;">Mapa</p></center>
              </div>
              <div class="pelicula">
                  <a href="{% url 'section' 'enemys' %}"><img src="{% static 'core/img/img_wiki/enemigosforest1.png' %}" alt="Enemigos"></a>
                  <center><p style="color: white;">Enemigos</p></center>
              </div>
              <div class="pelicula">
                  <a href="{% url 'section' 'buildings' %}"><img src="{% static 'core/img/img_wiki/buildings.png' %}" alt="Construcciones"></a>
                  <center><p style="color: white;">Construcciones</p></center>
              </div>
              <div class="pelicula">
                  <a href="{% url 'section' 'plants' %}"><img src="{% static 'core/img/img_wiki/plantaforest.png' %}" alt="Plantas"></a>
                  <center><p style="color: white;">Plantas</p></center>
              </div>
              <div class="pelicula">
                  <a href="{% url 'section' 'weapons' %}"><img src="{% static 'core/img/img_wiki/armasthf1.png' %}" alt="Armas"></a>
                  <center><p style="color: white;">Armas</p></center>
              </div>
              <div class="pelicula">
                  <a href="{% url 'section' 'consumables' %}"><img src="{% static 'core/img/img_wiki/consumibles.png' %}" alt="Consumibles"></a>
                  <center><p style="color: white;">Consumibles</p></center>
              </div>
              <div class="pelicula">
                  <a href="{% url 'section' 'history' %}"><img src="{% static 'core/img/img_wiki/Storytf.png' %}" alt="Historia"></a>
                  <center><p style="color: white;">Historia</p></center>
              </div>
          </div>
      </div>
        <button role="button" id="flecha-derecha" class="flecha-derecha">
          <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
{% endblock %}