<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="imagenes/Icono/the-forest.icon.png" />
  <title>Mi cuenta-The forest Wiki</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="css/micuenta.css">

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
    rel="stylesheet">
  

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body id="fondo1" style="background-color: #1E2126;">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
    <a class="navbar-brand" href="menuprincipal_wiki.html" id="fuente">The Forest Wiki</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="menuprincipal_wiki.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="forowiki.html">Foro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.google.com/maps/place/R%C3%ADo+Imperial+460,+Valle+Grande,+Lampa,+Regi%C3%B3n+Metropolitana/@-33.3295809,-70.751195,17z/data=!3m1!4b1!4m5!3m4!1s0x9662bf62531dc747:0xc0b4aee73c3b9373!8m2!3d-33.3295854!4d-70.7490063?hl=es-CL">Dirección</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="registrase_wiki.html">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="inicio_sesion_wiki.html">Iniciar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="micuentatf.html">Mi Cuenta</a>
          </li>
      </ul>
      <form class="d-flex" id="separarsearch">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  
</nav>

<section class="seccion-perfil-usuario">
  <div class="perfil-usuario-header">
      <div class="perfil-usuario-portada">
          <div class="perfil-usuario-avatar">
              <img src="img_wiki/user.png" alt="img-avatar">
              <button type="button" class="boton-avatar">
                  <i class="far fa-image"></i>
              </button>
          </div>
      </div>
  </div>
  <div class="perfil-usuario-body">
      <div class="perfil-usuario-bio">
          <h3 class="titulo">Ngolo Kante</h3>
      </div>
      <div class="perfil-usuario-footer">
        
          <ul class="lista-datos">
              <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg> <i class="bi bi-person-circle"></i> Nombre de Usuario: Ngolo Kante</li>
              <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
              </svg> <i class="bi bi-envelope-fill"></i> Email: kantegod@gmail.com </li>
              <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg> <i class="bi bi-key-fill"></i> Contraseña: ngolito777</li>
              <div class="w-33">
                <div class="center">
                  <button class="btn btn-dark">
                    Editar
                  </button>
                </div>
              </div>
          </ul>
        
      </div>
  </div>

</section>






<br>
<br>
<br>
  <!-- Footer -->
  <footer id="piedepag">
    <p>Chile, Santiago de Chile | Fono: 227369936 | Email: tfwiki@gmail.com</p>
    <p>Copyright 2022 Wiki <span style="color: #ffc400;">THE FOREST WIKI</span></p>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>