{% extends 'core/base.html' %}

{% load static widget_tweaks %}

{% block title %} {{title}} - The Forest Wiki {% endblock %}

{% block content %}
<body class="bg-dark">
    <section>
        <div class="row g-0">
            <div class="col-lg-7 d-none d-lg-block">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item img-1 min-vh-100 active">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="font-weight-bold">Wikipedia de The Forest</h5>
                                <a class="text-muted text-decoration-none">Visitanos</a>
                            </div>
                        </div>
                        <div class="carousel-item img-2 min-vh-100">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="font-weight-bold">Descubre la nueva generación</h5>
                                <a class="text-muted text-decoration-none">Visita nuestra tienda</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 bg-dark d-flex flex-column align-items-end min-vh-100">
                <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
                </div>
                <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
                    <h1 class="font-weight-bold mb-4" id="subir">Ingrese sus Datos</h1>
                    <form class="mb-5" method="post">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="{{ form.username.id_for_label }}" class="form-label font-weight-bold">Nombre</label>
                            {{ form.username|add_class:"form-control border-0"|attr:"placeholder:Ingrese su nombre" }}
                        </div>
                        <div class="mb-4">
                            <label for="{{ form.email.id_for_label }}" class="form-label font-weight-bold">Email</label>
                            {{ form.email|add_class:"form-control border-0"|attr:"placeholder:nombre@ejemplo.com" }}
                        </div>
                        <div class="mb-4">
                            <label for="{{ form.passsword.id_for_label }}" class="form-label font-weight-bold">Contraseña</label>
                            {{ form.password|add_class:"form-control border-0"|attr:"placeholder:Ingrese su contraseña" }}
                        </div>
                        <div class="mb-4">
                            <label for="password-input2" class="form-label font-weight-bold">Confirme su contraseña</label>
                            <input type="password" name="password_confirm" class="form-control border-0" id="password-input2" placeholder="Vuelva a ingresar su contraseña">
                            {% if form.password.errors %}
                            <div class="alert alert-danger my-2" role="alert">{{ form.password.errors }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="button">Crear cuenta</button>  
                    </form>
                </div>
                <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 mt-auto w-100">
                    <p class="d-inline-block mb-0">¿Ya tienes una cuenta?</p> <a href="{% url 'login' %}" class="text-light font-weight-bold text-decoration-none">Inicia Sesión</a>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}